h1{
  
    color: red;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

h2 {
    color: blue;
    font-family: "Arial", Arial, serif;
    text-align: right;
  
  
}
p {
    color: yellow;
    text-align: left;
    font-family: courier;
    font-size: 150%;
  
  
  
}
body {
    background-color: green;
}

.column {
    float: left;
    padding: 10px;
}
.column.side {
  width: 25%;
}
.column.middle {
  width: 50%;
}


  
